<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Error Page</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container" style="padding-top: 2cm;">
 <div class="row">
  	<div class="col-12 align-items-center">
  	    <div class="card">
 	<div class="card-header" style="text-color: red;">Warning !!!</div>
 	<div class="card-body align-items-center">
		<h1 style="text-color: red;">Access Denied !!</h1>
 	</div>
</div>
  	</div>
 </div>
</div>
</div>

<script type="text/javascript" th:src="@{/js/boostrap.min.js}"></script>
</body>
</html>