<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.js}">
    <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:href="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d1e7dd;">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{patients}">RendezVous</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">PATIENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MEDECINS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RENDEZ-VOUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">CONSULTATIONS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section layout:fragment="content1"></section>
</body>
</html>